@charset "UTF-8";
@font-face {
  font-family: "bold";
  src: url(../font/Pretendard-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "medium";
  src: url(../font/Pretendard-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "regular";
  src: url(../font/Pretendard-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  margin: 0 auto;
  font-size: 16px;
  font-family: "Pretendard", "Noto Sans SC", "Noto Sans KR", Dotum, 돋움, Helvetica, "Apple SD Gothic Neo", sans-serif, "Montserrat";
  width: 100%;
  padding: 0 25px;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul img,
li img {
  vertical-align: middle;
}

a {
  /* color: #fff; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
i,
em,
strong,
b,
code,
::after,
::before {
  display: inline-block;
}

header {
  max-width: 1920px;
  height: 114px;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
  margin: 0 auto;
}
header .header-box {
  max-width: 1920px;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 0 auto;
}
header .header-box .header-top-container {
  display: flex;
  justify-content: space-between;
  top: 50%;
}
header .header-box .header-top-container .img-box ul > li > a > img {
  width: 60px;
  height: 54px;
}
header .header-box .header-top-container .menu-box ul > li > a {
  font-family: "bold";
  font-size: 16px;
  color: black;
  padding: 15px;
}
header .header-box .header-top-container .menu-box ul > li > a img {
  padding-left: 20px;
}
header .header-box .header-top-container .menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 1s;
  width: 100%;
  right: -100%;
  margin-left: 30px;
}
header .header-box .header-top-container .menu img {
  width: 40px;
  height: 40px;
}
header .header-box .header-top-container .menu ul {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3.8;
  text-align: center;
  align-items: center;
}
header .header-box .header-top-container .menu ul a {
  color: #000;
  font-weight: bold;
  margin-left: 30px;
}
header .header-box .header-top-container .menu.fade {
  transition: 1s;
  transform: translateX(-100%);
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 100px;
}
.footer-container .footer-left {
  width: 49%;
  margin-bottom: 10px;
}
.footer-container img {
  margin-bottom: 10px;
}
.footer-container span {
  font-family: "regular";
  font-size: 18px;
  margin-top: 2px;
}
.footer-container span a {
  font-family: "bold";
}
.footer-container span a > img {
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  margin: -4px;
}
.footer-container p {
  margin-top: 50px;
}
.footer-container .footer-right {
  width: 49%;
}
.footer-container .footer-right ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  font-family: "bold";
  margin-bottom: 20px;
}
.footer-container .footer-right ul > li > a.on {
  content: "";
  display: block;
  border-bottom: solid 3px #ea2129;
}
.footer-container .footer-right ul > li > a:after {
  content: "";
  display: block;
  border-bottom: solid 3px #ea2129;
  transform: scaleX(0);
}
.footer-container .footer-right ul > li > a:hover:after {
  transform: scaleX(0);
  display: inline-block;
}

/*# sourceMappingURL=common.css.map *//*# sourceMappingURL=common.css.map */