@charset "UTF-8";
@font-face {
  font-family: "bold";
  src: url(../font/Pretendard-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "medium";
  src: url(../font/Pretendard-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "regular";
  src: url(../font/Pretendard-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@-webkit-keyframes textup {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes textup {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
html,
body {
  margin: 0 auto;
  font-size: 16px;
  font-family: "Pretendard", "Noto Sans SC", "Noto Sans KR", Dotum, 돋움, Helvetica, "Apple SD Gothic Neo", sans-serif, "Montserrat";
  width: 100%;
  padding: 0 25px;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul img,
li img {
  vertical-align: middle;
}

a {
  color: #000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
i,
em,
strong,
b,
code,
::after,
::before {
  display: inline-block;
}

.main-banner {
  width: 100%;
  margin: 0 auto;
}
.main-banner .sub-banner {
  max-width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
  position: relative;
}
.main-banner .sub-banner > a:nth-of-type(1) {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 1.2em;
  color: #000;
  font-weight: 500;
  font-family: medium;
}
.main-banner .sub-banner .whole-banner {
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.main-banner .sub-banner .whole-banner .main-text {
  color: #000;
  display: block;
  font-size: 95px;
  font-weight: 500;
  font-family: "bold";
  padding-top: 10px;
}
.main-banner .sub-banner .whole-banner .banner-img {
  max-width: 100%;
  text-align: center;
}
.main-banner .sub-banner .whole-banner .banner-img img {
  width: 422px;
  height: 379px;
  align-items: center;
  margin-top: 100px;
}
.main-banner .campain-container {
  max-width: 100%;
  border-top: solid 4px #000;
  display: flex;
  justify-content: space-between;
  padding: 100px 0px 100px 0px;
  opacity: 0;
  transition: 1s;
  transform: translateY(50%);
}
.main-banner .campain-container.active {
  opacity: 1;
  transform: translateY(0%);
}
.main-banner .campain-container .campain-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  font-family: "bold";
}
.main-banner .campain-container .campain-left .swiper-slide {
  transition: 0.5s;
}
.main-banner .campain-container .campain-left .swiper-slide-active {
  transition: 0.5s;
}
.main-banner .campain-container .campain-left .btn-swiper {
  position: absolute;
  width: 10%;
  top: 85%;
}
.main-banner .campain-container .campain-left .btn-swiper img {
  width: 1.25rem;
}
.main-banner .campain-container .campain-left .btn-swiper .swiper-button-next2 {
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}
.main-banner .campain-container .campain-left .btn-swiper .swiper-button-prev2 {
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}
.main-banner .campain-container .campain-right {
  width: 66%;
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
}
.main-banner .campain-container .campain-right ul > li img {
  width: 100%;
}
.main-banner .campain-container .campain-right div {
  display: flex;
  justify-content: space-between;
}
.main-banner .campain-container .campain-right div .campain-left-box {
  width: 60%;
  font-size: 55px;
  font-family: "bold";
  padding-top: 40px;
}
.main-banner .campain-container .campain-right div .campain-right-box {
  width: 40%;
  font-size: 32px;
  padding-top: 40px;
  text-align: end;
  font-family: "medium";
  color: black;
}
.main-banner .product-container {
  width: 100%;
  border-top: solid 4px #000;
  padding: 44px 0px 80px 0px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 1s;
  transform: translateY(50%);
}
.main-banner .product-container.active {
  opacity: 1;
  transform: translateY(0%);
}
.main-banner .product-container .product-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 22px;
  font-family: "bold";
}
.main-banner .product-container .product-left h4 {
  font-size: 30px;
}
.main-banner .product-container .product-left p {
  font-size: 16px;
  font-family: "regular";
}
.main-banner .product-container .product-left h5 {
  font-size: 55px;
  font-family: "bold";
  -webkit-animation: textup 1.5s alternate;
          animation: textup 1.5s alternate;
}
.main-banner .product-container .product-left .btn {
  width: 25%;
  border: solid 1px #000;
  border-radius: 100% 100%;
  font-family: "bold";
  font-size: 18px;
  padding: 12px 32px;
  background: #fff;
}
.main-banner .product-container .product-left .btn:hover {
  background: #d5211b;
  color: #fff;
  border: none;
}
.main-banner .product-container .product-right {
  width: 100%;
  display: flex;
  flex-shrink: 1;
  padding: 100px 0px 100px 0px;
  overflow: hidden;
}
.main-banner .product-container .product-right ul > li img {
  width: 100%;
}
.main-banner .product-container .product-right .swiper-slide {
  transition: 0.5s;
  filter: grayscale(100%);
}
.main-banner .product-container .product-right .swiper-slide-active {
  transform: scale(1.4);
  transition: 0.5s;
  filter: grayscale(0%);
}
.main-banner .product-container .product-right .btn-swiper {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 50%;
}
.main-banner .product-container .product-right .btn-swiper .swiper-button-next {
  color: red;
  border: none;
  background-color: transparent;
}
.main-banner .product-container .product-right .btn-swiper .swiper-button-prev {
  color: red;
  border: none;
  background-color: transparent;
}
.main-banner .news-sns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 1s;
  transform: translateY(50%);
}
.main-banner .news-sns.active {
  opacity: 1;
  transform: translateY(0%);
}
.main-banner .news-sns .news-container {
  width: 50%;
  border-top: solid 4px black;
  display: flex;
  justify-content: space-between;
  padding: 44px 0px 80px 0px;
}
.main-banner .news-sns .news-container .news-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: space-between;
  overflow: hidden;
}
.main-banner .news-sns .news-container .news-left p {
  font-family: "bold";
  font-size: 30px;
}
.main-banner .news-sns .news-container .news-left img {
  width: 100%;
}
.main-banner .news-sns .news-container .news-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: start;
}
.main-banner .news-sns .news-container .news-right .swiper-slide {
  transition: 0.5s;
}
.main-banner .news-sns .news-container .news-right .swiper-slide-active {
  transition: 0.5s;
}
.main-banner .news-sns .news-container .news-right .btn-swiper {
  position: absolute;
  left: 25%;
  top: 90%;
}
.main-banner .news-sns .news-container .news-right .btn-swiper img {
  width: 1.875rem;
}
.main-banner .news-sns .news-container .news-right .btn-swiper .swiper-button-next3 {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-banner .news-sns .news-container .news-right .btn-swiper .swiper-button-prev3 {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-banner .news-sns .news-container .news-right span {
  margin: 20px 0 18px;
  font-size: 18px;
  font-family: "regular";
  font-weight: 400;
}
.main-banner .news-sns .news-container .news-right b {
  font-size: 45px;
  font-family: "bold";
  font-weight: 700;
  text-align: start;
  padding-bottom: 40px;
}
.main-banner .news-sns .news-container .news-right .btn {
  border: solid 1px #000;
  border-radius: 100% 100%;
  font-family: "bold";
  font-size: 18px;
  padding: 12px 32px;
  background: #fff;
}
.main-banner .news-sns .news-container .news-right .btn:hover {
  background: #d5211b;
  color: #fff;
  border: none;
}
.main-banner .news-sns .sns-container {
  border-top: solid 3px black;
  width: 49%;
  padding: 44px 0px 80px 0px;
}
.main-banner .news-sns .sns-container .sns-header {
  width: 100%;
  font-size: 30px;
  font-family: "bold";
  font-weight: 700;
}
.main-banner .news-sns .sns-container .sns-mainbox {
  width: 100%;
  padding: 30px;
}
.main-banner .news-sns .sns-container .sns-mainbox ul > li {
  display: flex;
  justify-content: space-between;
}
.main-banner .news-sns .sns-container .sns-mainbox ul > li > a {
  width: 49%;
}
.main-banner .news-sns .sns-container .sns-mainbox ul > li > a > img {
  width: 100%;
}

/*반응형 mixin으로 깔끔하게 사용하기*/
@media (min-width: 320px) and (max-width: 767px) {
  .main-banner {
    /* -----------------------product -------------*/
  }
  .main-banner .campain-container {
    display: flex;
    flex-direction: column;
  }
  .main-banner .campain-container .campain-left {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .main-banner .campain-container .campain-left .btn-swiper {
    width: 100%;
    top: 85%;
    left: 85%;
  }
  .main-banner .campain-container .campain-right {
    width: 100%;
  }
  .main-banner .campain-container .campain-right div {
    display: flex;
  }
  .main-banner .campain-container .campain-right div .campain-left-box {
    font-size: 30px;
  }
  .main-banner .campain-container .campain-right div .campain-right-box {
    font-size: 16px;
  }
  .main-banner .product-container {
    width: 100%;
  }
  .main-banner .product-container .product-left {
    font-size: 1.375rem;
  }
  .main-banner .product-container .product-left .btn {
    padding: 10px;
    width: 50%;
  }
  .main-banner .product-container .product-left h5 {
    font-size: 2.25rem;
  }
  .main-banner .product-container .product-right {
    padding: 250px 0 200px 0;
  }
  .main-banner .product-container .product-right .btn-swiper {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 55%;
  }
  .main-banner .news-sns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-banner .news-sns .news-container {
    width: 100%;
  }
  .main-banner .news-sns .news-container .news-right {
    width: 50%;
  }
  .main-banner .news-sns .news-container .news-right .btn-swiper {
    position: absolute;
    width: 40%;
    left: 85%;
    top: 46%;
  }
  .main-banner .news-sns .news-container .news-right .btn-swiper img {
    width: 30px;
  }
  .main-banner .news-sns .sns-container {
    width: 100%;
  }
  .main-banner .news-sns .sns-container .sns-header {
    width: 100%;
  }
  .main-banner .news-sns .sns-container .sns-mainbox {
    width: 100%;
    padding: 30px;
  }
}/*# sourceMappingURL=index.css.map */