$mobile: 767px;
$desktop: 1024px;

@mixin device($max) {
  @media (max-width: $max) {
    @content;
  }
}

@include device($mobile) {
  @font-face {
    font-family: "bold";
    src: url(../font/Pretendard-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "medium";
    src: url(../font/Pretendard-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "regular";
    src: url(../font/Pretendard-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  html,
  body {
    margin: 0 auto;
    font-size: 16px;
    font-family: "Pretendard", "Noto Sans SC", "Noto Sans KR", Dotum, 돋움,
      Helvetica, "Apple SD Gothic Neo", sans-serif, "Montserrat";
    width: 100%;
    max-width: 1920px;
    width:100%;
    padding:0 25px;
    line-height: 1.7;
  }
  
  h1,
  h2,
  h3,
  h4,
  p,
  figure {
    margin: 0;
  }
  
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul img,
  li img {
    vertical-align: middle;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a,
  i,
  em,
  strong,
  b,
  code,
  ::after,
  ::before {
    display: inline-block;
  }
  main{
    width:100%;
    margin: 0 auto;
    .brand{
      width:100%;
      display: flex;
      flex-direction: column;
      .top-banner{
        width:100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .top-left{
          width:80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 10.25rem;
          margin-left: 8.4375rem;
          img{
            width: 25rem;
            height: 25rem;
            
          }
        }
        .top-right{
          width:70%;
          margin: 0 auto;
          .one{
            font-size: 1.25rem;
          }
          .two{
            font-size: 1.25rem;
          }
          .three-box{
            font-size: 1rem;
          }
          .four{
            font-size : 1.25rem;;
          }
        }
      }
      .low-banner{
        width:100%;
        margin-top: 6.25rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
        
        .low-left{
          width:100%;
          display: flex;
          font-size : 2.5rem;
          margin-left: 0px;
          p{
            text-align: center;
          }
        }
        .low-right{
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0 auto;
          
            .low-space{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              .low-fun{
                width: 100%;
                text-align: center;
                line-height: 1.3;
                p{
                  font-size: 1rem;
                }
              }
                .low-fun h3{
                  font-size: 2rem;
                }
                .low-fun h4{
                  font-size: 2rem;
                }
            }
            .low-img{
              img{
                border-radius: 25px;
              }
        }
        }
      }
    }
  }




}